<%-include ("../partials/admin-header.ejs") %>



<div class="categories-and-search">
<div class="filter-container">
  <button class="category-button active all-filter-button" data-category="all">All</button>
  <button class="category-button status-pending" data-category="PC">PC</button>
  <button class="category-button status-paid" data-category="PS5">PS5</button>
  <button class="category-button status-delivered" data-category="Xbox">X-BOX</button>
    <button class="category-button status-canceled" data-category="Switch">SWITCH</button>
</div>
<div class="add-and-search">
 <button class="add-new-product-button" onclick="window.location.href = '/admin/product/add'">
    <img src="/assets/plus-icon.svg" alt="+"  />
    <!-- <a href="/admin/product/add">Add new product</a> -->
    <span>Add new product</span>
 </button>
<div class="search-product-container">
  <form action="/admin" method="get">  
    <input name="search-product" type="search" id="search-product"  placeholder="Search" />
    <button type="submit" id="search_product" class="exception search_button"><img src="/assets/search-icon.svg" alt="search" width="25px"></button>
  </form>
</div>
 

</div>
</div>
<div class="products-container" >
<% if (typeof games !== 'undefined' && games.length > 0) { %>
<% games.forEach(game=>{ %>
<div class="product-card" data-platform="<%= game.platforms %>">
  <img src="<%= game.thumbnailUrl %>" alt="thumbnail">
  <div class="product-main-info">
    <div class="product-title-category">
      <h4><%= game.title %></h4>
      <p><%= game.genres %></p>
    </div>
    <div class="product-actions">
      <p class="product-price">$<%= game.price %></p>
      <a href="/admin/product/<%= game.id %>">
        <img src="assets/edit-icon.svg" alt="Edit" style="width:25px; height:25px;">
      </a>
      <a href="/admin/product/delete/<%= game.id %>">
        <img src="assets/trash-icon.svg" alt="Delete" style="width:25px; height:25px;">
      </a>
    </div>
  </div>

  
</div>

<% }) %>
  <% } else { %>
    <p>No games found in the database.</p>
  <% } %>
</div>

<%-include ("../partials/admin-footer.ejs") %>