<%-include ("../partials/admin-header.ejs") %>

<div class="categories-and-search">
  <div class="filter-container">
    <button class="status-button active all-filter-button" data-order-status="all">All</button>
    <button class="status-button status-pending" data-order-status="pending">Pending</button>
    <button class="status-button status-paid" data-order-status="paid">Paid</button>
    <button class="status-button status-delivered" data-order-status="delivered">Delivered</button>
<button class="status-button status-canceled" data-order-status="canceled">Canceled</button>
  </div>

  <div class="search-order-container">
    <form method="get" action="/admin/orders">
      <input
        name="search-order"
        type="search"
        id="search-order"
        placeholder="Search"
        required
      />
      <button class="search_button" type="submit"><img src="/assets/search-icon.svg" alt="search" width="25px"></button>
    </form>
  </div>
</div>
<div class="orders-and-actions-container">
  <div class="orders-container">
<% if (typeof orders !== undefined || orders.length<=0) { %>
<%orders.forEach(order=>{ %>
    <div class="order-card status-<%= order.status.toLowerCase()%> "  data-status="<%= order.status%>""  data-orderId='<%= 
      order.id
       %>' data-userId='<%= order.userId%>' >
      <div class="order-select">
        <input
        onclick="event.stopPropagation()"
          type="checkbox"
          name="order_select"
          id="<%= order.id %>"
          class="custom-checkbox order-checkbox"
          value="<%= order.id %>"
        />
      </div>

      <div class="order-header">
        <span class="order-number"> <%= order.id  %> </span>
        <span class="order-date"><%= order.dateCreated  %> </span>
      </div>

      <div class="customer-name"><%= order.userId  %> </div>

      <span class="order-price">$ <%= order.totalAmount  %> </span>
      <span class="order-status"><%= order.status.charAt(0).toUpperCase() + order.status.slice(1)  %> </span>
    </div>
    <%  }) %>
   <%  }  else {%>
    <p>No orders yet.</p>
     <%  }%>


  </div>
<div class="actions-container">
<div class="mark_all">
 <input
          type="checkbox"
          name="select_all"
          id="select_all"
       
          
        /><h5 >  Mark all selected as...</h5>
</div>
  
  <button type="button" class="status-btn status-pending" data-status="pending">Pending</button>
  <button type="button" class="status-btn status-paid" data-status="paid">Paid</button>
  <button type="button" class="status-btn status-delivered" data-status="delivered">Delivered</button>
  <button type="button" class="status-btn status-canceled" data-status="canceled">Canceled</button>
  <button type="button" class="status-btn status-delete" data-status="delete">Delete</button>
</div>
</div>
<%#
  modal to show order detail
%>
<div id="orderModal" class="modal-overlay" onclick="closeModal()">
  <div class="modal-content glass-panel" onclick="event.stopPropagation()">
    <div id="modalBody">
      </div>
    <button onclick="closeModal()" class="btn-close">Close</button>
  </div>
</div>
<%-include ("../partials/admin-footer.ejs") %>

<script src="/js/admin/orderDetailModal.js"></script>